<div class="sidebar-header">
  <h4 class="is-size-4">Michael Mountain</h4>
  <h6 class="is-size-6">Web Developer and hobbyist 3D modeller</h6>
</div>
<hr class="dropdown-divider">
<div class="sidebar-content">

</div>
<div class="sidebar-footer">

</div>

