.landing {
  width: 100%;
  height: 100%;
  display: flex;
}

.sidebar {
  margin-left: 3rem;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.4);
  width: 25%;
  height: 100%;
}

.sidebar-large {
  min-width: 90%;
}

.content {
  width: 75%;
  min-width: 75%;
  height: 100%;
  overflow-y: auto;
}
