@import "scss/components/all";
@import "scss/variables/all";
@import "scss/utils/all";
@import "scss/mixins/all";
@import "~bulma";

html, body {
  height: 100%;
}

body::before {
  content: "";
  position: absolute;
  z-index: -99;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url("./assets/images/seventhRender.png");
  filter: blur(2px) opacity(.9);
}
